body {
  background-color: #f4decb;
}
.App {
  background-color: #f4decb;
  min-height: "100vh";
}
.userCard {
  transform-origin: center center 0px;
  transition: all 0.5s ease-out;
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
  z-index: 1;
}
.userCard:hover {
  animation: unset;
  margin-top: 18vh;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
@keyframes animate {
  0% {
    margin-top: 20vh;
  }
  50% {
    margin-top: 18vh;
  }
  100% {
    margin-top: 20vh;
  }
}
@media screen and (max-width: 450px) {
  .userCard {
    transform-origin: none;
    transition: none;

    animation: unset;
    margin-top: 10vh;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  .userCard:hover {
    animation: unset;
    margin-top: 10vh;
    transform: none;
  }
}
